.result-columns {
    display: flex;
}

.result-columns__table {
    height: 100vh;
    overflow: auto;
    width: 55%;
}

.result-columns__table--full-width {
    width: 100%;
}

.result-columns__quick-view {
    height: 100vh;
    width: 45%;
    overflow: auto;
    border-left: 10px solid #aaa;
}

@media(max-width: 768px) {
    .result-columns {
        flex-direction: column;
    }
    .result-columns__table {
        width: 100%;
    }
    .result-columns__quick-view {
        width: 100%;
        min-height: 500px;
        border-left: 0;
        border-top: 10px solid #aaa;
    }
}