.table {
    border-collapse: collapse;
    width: 100%;
}
.table-row {
    background: #fff;
    border-top: 1px solid #aaa;
    height: 50px;
}
.table-row:last-child {
    border-bottom: 1px solid #aaa;
}
.table-row.table-row--head {
    background: #f0f0f0;
}
.table-row__cell {
    text-align: center;
    vertical-align: middle;
    padding: 0.5em 1em;
}
.table-row__cell--left-align {
    text-align: left;
}
